<div class="container font-nunito text-lg sm:px-6 xl:px-80">
    <div class="flex flex-wrap justify-center xl:mb-10">
        <h2 class="text-center text-3xl pt-8 pb-3 text-gray-800 font-semibold">
            <svg class=" fill-gray-800 mr-3 h-7 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path
              d="M320 192h17.1c22.1 38.3 63.5 64 110.9 64c11 0 21.8-1.4 32-4v4 32V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V339.2L280 448h56c17.7 0 32 14.3 32 32s-14.3 32-32 32H192c-53 0-96-43-96-96V192.5c0-16.1-12-29.8-28-31.8l-7.9-1c-17.5-2.2-30-18.2-27.8-35.7s18.2-30 35.7-27.8l7.9 1c48 6 84.1 46.8 84.1 95.3v85.3c34.4-51.7 93.2-85.8 160-85.8zm160 26.5v0c-10 3.5-20.8 5.5-32 5.5c-28.4 0-54-12.4-71.6-32h0c-3.7-4.1-7-8.5-9.9-13.2C357.3 164 352 146.6 352 128v0V32 12 10.7C352 4.8 356.7 .1 362.6 0h.2c3.3 0 6.4 1.6 8.4 4.2l0 .1L384 21.3l27.2 36.3L416 64h64l4.8-6.4L512 21.3 524.8 4.3l0-.1c2-2.6 5.1-4.2 8.4-4.2h.2C539.3 .1 544 4.8 544 10.7V12 32v96c0 17.3-4.6 33.6-12.6 47.6c-11.3 19.8-29.6 35.2-51.4 42.9zM432 128a16 16 0 1 0 -32 0 16 16 0 1 0 32 0zm48 16a16 16 0 1 0 0-32 16 16 0 1 0 0 32z" />
          </svg>
          {{ title }}
        </h2>
    </div>
    <div class="flex flex-wrap justify-between w-full">
        <div class="my-10 text-base md:text-lg md:leading-relaxed md:mb-8 xl:text-base w-full">
            <p class="text-center">Термін виконання 2-3 дні</p>
            <table>
                <tbody>
                    <tr>
                        <th>ПЛР</th>
                        <th>Матеріал для дослідження</th>
                        <th>Вартість, грн*</th>
                    </tr>
                    <tr>
                        <td>Бордетелльоз<br>
                            ( Bordetella bronchiseptica )
                        </td>
                        <td>&bull;зішкріб зі слизової глотки<br>
                            &bull;змив з носа
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Вірусний імунодефіцит<br>
                            (Feline immunodeficiency virus)
                        </td>
                        <td>&bull; кров з ЕДТА</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Вірусна лейкемія<br>
                            (Feline leukemia virus)
                        </td>
                        <td>&bull; кров з ЕДТА</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Вірусний ринотрахеїт<br>
                            (Feline herpes virus)
                        </td>
                        <td>&bull; змив з кон'юнктиви , носа, мигдалин<br>
                            &bull; зішкріб з виразок ротової порожнини
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Каліцівіроз<br>
                            (Feline calicivirus)
                        </td>
                        <td>&bull; змив з
                            кон'юнктиви, носа, глотки<br>
                            &bull; зішкріб з виразок ротової порожнини
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Коронавірус - вірусний перитоніт / Коронавірусний ентерит<br> (Feline infections
                            peritonitis, Feline coronavirus)</td>
                        <td>&bull; зішкріб зі слизової прямої кишки<br>
                            &bull; кров з ЕДТА<br>
                            &bull; асцитна рідина
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Легенева нематода<br>
                            ( Aelurostrongylus abstrusus)
                        </td>
                        <td>&bull; зішкріб зі слизової глотки<br>
                            &bull; мокрота
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Мікоплазмоз<br>
                            (Род Mycoplasma)
                        </td>
                        <td>&bull; змив з кон'юнктиви, носа<br>
                            &bull; синовіальна рідина
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Панлейкопенія<br>
                            (Feline parvovirus)
                        </td>
                        <td>&bull; зішкріб зі слизової прямої кишки<br>
                            &bull; кров з ЕДТА
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Токсоплазмоз<br>
                            (Toxoplasma gondii)
                        </td>
                        <td>&bull; кров з ЕДТА</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Хламідіоз<br>
                            (Род Chlamydophila )
                        </td>
                        <td>&bull; змив з кон'юнктиви<br>
                            &bull; синовіальна рідина<br>
                            &bull; зішкріб зі слизової урогенітального тракту / піхви
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Гемобартонелльоз<br>
                            (Haemobartonella fellis)
                        </td>
                        <td>&bull; кров з ЕДТА</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Трихомоніаз<br>
                            (Tritrichomonas foetus)
                        </td>
                        <td>&bull; зішкріб зі слизової урогенітального тракту / піхви / прямої кишки
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Кампилобактеріоз<br>
                            ( Campylobacters spp. )
                        </td>
                        <td>&bull; зішкріб зі слизової прямої кишки
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Клебсіелльоз<br>
                            ( Klebsiella pneumoniae )
                        </td>
                        <td>&bull; зішкріб зі слизової прямої кишки
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Клостридіоз<br>
                            ( Clostridium difficile )
                        </td>
                        <td>&bull; зішкріб зі слизової прямої кишки
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Криптоспоридіоз<br>
                            ( Cryptosporidium spp. )
                        </td>
                        <td>&bull; зішкріб зі слизової прямої кишки
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Лептоспіроз<br>
                            ( Leptospira spp. )
                        </td>
                        <td>&bull; кров з ЕДТА</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Лістеріоз<br>
                            ( Listeria monocytogenes )
                        </td>
                        <td>&bull; зішкріб зі слизової прямої кишки</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Лямбліоз<br>
                            ( Giardia lamblia )
                        </td>
                        <td>&bull; зішкріб зі слизової прямої кишки</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Пастерелльоз<br>
                            ( Pasteurella multocida )
                        </td>
                        <td>&bull; зішкріб зі слизової прямої кишки</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Ротавірусна інфекція<br>
                            ( Rotavirosis infectiosa )
                        </td>
                        <td>&bull; зішкріб зі слизової прямої кишки</td>
                        <td>500</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>