<footer class=" bg-gray-900">
    <cat-animation></cat-animation>
    <div class="flex flex-col mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8 xl:py-3">
        <div class="md:flex md:justify-between md:items-center lg:mb-5">
            <div class="mb-6 md:mb-0">
                <a routerLink="/" class="flex items-center">
                    <img src="../../assets/images/logo.png" class="h-8 me-3" alt="GrenLab Logo" />
                    <span class="self-center text-2xl font-thin whitespace-nowrap text-white">Green Lab</span>
                </a>
            </div>
            <div
                class="footer-link text-base grid grid-cols-2 text-center text-white font-jost list-none items-center">
                <li><a routerLink="/" class="hover:text-light-green" routerLinkActive="text-light-green"
                        [routerLinkActiveOptions]="{ exact: true }">Головна</a></li>
                <li><a routerLink="/license" class="hover:text-light-green"
                        routerLinkActive="text-light-green">Дозвільні документи</a></li>
                <li><a href="../../../assets/files/blank.pdf" download class="hover:text-light-green">Направлення на
                        дослідження</a></li>
                <li><a href="../../../assets/files/price2025greenlab.pdf" target="_blank"
                        class="hover:text-light-green">Прайс-лист</a></li>
                <li><a routerLink="/guide" class="hover:text-light-green" routerLinkActive="text-light-green">Інструкція
                        взяття проб</a></li>
                <li><a routerLink="/contact" class="hover:text-light-green"
                        routerLinkActive="text-light-green">Контакти</a></li>
            </div>
        </div>
        <hr class="mt-4 lg:my-0" />
        <div class="sm:flex sm:items-center sm:justify-between md:mt-3">
            <span class="text-xs text-white dark:text-gray-400 md:text-xs">© 2023-2025 GreenLab. Всі права захищені.
            </span>
        </div>
    </div>
</footer>