<div class="container font-nunito text-lg sm:px-6 xl:px-80">
    <div class="flex flex-wrap justify-center xl:mb-10">
        <h2 class="text-center text-3xl pt-8 pb-3 text-gray-800 font-semibold">
            <svg class=" fill-gray-800 mr-3 h-7 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path
              d="M0 80v48c0 17.7 14.3 32 32 32H48 96V80c0-26.5-21.5-48-48-48S0 53.5 0 80zM112 32c10 13.4 16 30 16 48V384c0 35.3 28.7 64 64 64s64-28.7 64-64v-5.3c0-32.4 26.3-58.7 58.7-58.7H480V128c0-53-43-96-96-96H112zM464 480c61.9 0 112-50.1 112-112c0-8.8-7.2-16-16-16H314.7c-14.7 0-26.7 11.9-26.7 26.7V384c0 53-43 96-96 96H368h96z" />
          </svg>
          {{ title }}
        </h2>
    </div>
    <div class="flex flex-wrap justify-between">
        <div class="my-10 text-base md:text-lg md:leading-relaxed md:mb-8 xl:text-base">
            <p>При відборі проб для ПЛР-РВ досліджень необхідно дотримуватися ряду правил, які мінімізують приймати неточні результати:</p>
            <ol class="list-counter-circle my-3">
                <li>дотримуватися правил асептиків і антисептиків</li>
                <li>Уникайте потрапляння дезінфекційних засобів в пробірку</li>
                <li>Не дозволяйте стороннім частинкам потрапити в зразок (шерсть, бруд, вата)</li>
                <li>Використовуйте рукавички без тальку при відборі проб</li>
                <li>використовувати одноразові стерильні витратні матеріали, рекомендовані лабораторією для збору, зберігання та транспортування</li>
                <li>підбір матеріалу для проведення відповідно до клінічної картини, особливостей захворювання, врахування шляху збудника</li>
                <li>Пройміть аналіз перед початком прийому ліків або виключіть застосування місцевих препаратів за кілька днів до дослідження (кількість часу залежить від ліків). Якщо тварина була на антибіотикотерапії, розрив з відбором проб становить 10-14 днів</li>
                <li>Розглянемо терміни останньої вакцинації (розрив становить не менше 21 дня)</li>
            </ol>
        </div>
    </div>
</div>