<div class="font-nunito text-base px-6 lg:px-0 max-w-screen-lg mx-auto">
    <div class="flex flex-wrap justify-center">
        <h2 class="text-center text-3xl pt-8 pb-3 text-gray-800 font-semibold">
            <svg class="fill-gray-800 mr-3 h-7 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path
                d="M0 80v48c0 17.7 14.3 32 32 32H48 96V80c0-26.5-21.5-48-48-48S0 53.5 0 80zM112 32c10 13.4 16 30 16 48V384c0 35.3 28.7 64 64 64s64-28.7 64-64v-5.3c0-32.4 26.3-58.7 58.7-58.7H480V128c0-53-43-96-96-96H112zM464 480c61.9 0 112-50.1 112-112c0-8.8-7.2-16-16-16H314.7c-14.7 0-26.7 11.9-26.7 26.7V384c0 53-43 96-96 96H368h96z" />
            </svg>
            {{ title }}
        </h2>
    </div>
    <div class="flex flex-wrap justify-between">
        <div class="my-10">
            <p>Детальні рекомендації для підготовки до ПЛР-РВ досліджень:</p>
            <ol class="list-counter-circle my-3">
                <li>Дотримуватися правил асептиків і антисептиків.</li>
                <li>Уникайте потрапляння дезінфекційних засобів в пробірку.</li>
                <li>Не дозволяйте стороннім частинкам потрапити в пробірку (вовна, бруд, вата).</li>
                <li>Використовуйте одноразові рукавички без тальку для збору проб, щоб уникнути забруднення.</li>
                <li>Оберіть стерильні витратні матеріали для забору, зберігання та транспортування проб, які рекомендовані лабораторією.</li>
                <li>Підбіріть матеріал  відповідно до клінічної картини, особливостей захворювання, врахування шляху збудника.</li>
                <li>Припиніть використання антибіотиків за 10-14 днів до забору проб, щоб не вплинути на виявлення патогенних мікроорганізмів.</li>
                <li>Після вакцинації повинен пройти термін не менше 21 дня для уникнення помилкових результатів, пов'язаних з вакцинним стимулом.</li>
            </ol>
        </div>
    </div>
</div>