<!-- burger-menu.component.html -->
<div class="burger-menu" [ngClass]="{'open': isOpen}">
    <div class="burger-icon" (click)="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div [ngStyle]="{'top.px': onTop ? toTop : toBottom}" *ngIf="isOpen" class="menu-list"> <!-- [ngStyle]="{'top.%': onTop ? 100 : height}"-->
      <ul>
        <li><a routerLink="/">Головна </a></li>
        <li>
          <a>Правила збіру проб &#10095;</a>
          <ul>
            <li><a routerLink="/service1">Сервис 1</a></li>
            <li><a routerLink="/service2">Сервис 2</a></li>
          </ul>
        </li>
        <li><a routerLink="/contact">Правила &#10095;</a></li>
        <li><a routerLink="/guide">Як здати аналіз?</a></li>
        <li><a routerLink="/contact">Контакти</a></li>
      </ul>
    </div>
  </div>