<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(180deg,
        var(--orange-red) 0%,
        var(--vivid-pink) 50%,
        var(--electric-violet) 100%);

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(90deg,
        var(--orange-red) 0%,
        var(--vivid-pink) 50%,
        var(--electric-violet) 100%);

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }
</style>

<main class="main">
  <div class="content">
    <app-topbar></app-topbar>
    <app-header></app-header>
    <section class="main-image bg-center bg-cover bg-no-repeat bg-main-image bg-blend-multiply min-h-screen ">
      <div class="mx-auto max-w-screen-xl text-center py-20">
        <h1
          class="mb-4 text-4xl font-nunito font-normal tracking-tight leading-none text-white md:text-5xl lg:text-6xl">
          <span class="text-custom_green">Green</span>Lab</h1>
        <p class="paragraph-info mb-8 text-lg font-thin font-nunito text-white lg:text-xl sm:px-16 lg:px-48">
          Універсальна ПЛР Лабораторія</p>
        <div class="space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
          <a href="#"
            class="gradient-button inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center">
            Сдати аналіз
          </a>
          <a href="../assets/files/price2023greenlab.pdf"
            class="gradient-button-orange inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center">
            Прайс-лист
          </a>
        </div>
        <p class="price-info">Ціни вказані за станом на 01.06.2023</p>
        <div class="worktime text-center mt-10 py-2 mx-48">
          <p>Графік роботи:</p>
          <p>ПН-СБ 10.00-18.00 (НД-вихідний)</p>
          <p>Доставка з клініки м.Чорноморськ ПН-СБ (НД-вихідний)</p>
        </div>
        <div class="arrow-down">
          <span></span>
          <span></span>
          <span></span>
      </div>
      </div>
    </section>
    <div class="md:container md:mx-auto">


      <h1 class="font-mono">

        Hello world! er
      </h1>
      <h1 class="font-mono">
        Hello world! er
      </h1>
      <h1 class="font-mono">
        Hello world! er
      </h1>
      <h1 class="font-mono">
        Hello world! er
      </h1>
      <h1 class="font-mono">
        Hello world! er
      </h1>
      <h1 class="font-mono">
        Hello world! er
      </h1>
      <h1 class="font-mono">
        Hello world! er
      </h1>
      <h1 class="font-mono">
        Hello world! er
      </h1>
      <h1 class="font-mono">
        Hello world! er
      </h1>
      <h1 class="font-mono">
        Hello world! er
      </h1>
      <h1 class="font-mono">
        Hello world! er
      </h1>
      <h1 class="font-mono">
        Hello world! er
      </h1>
      <h1 class="font-mono">
        Hello world! er
      </h1>
      <h1 class="font-mono">
        Hello world! er
      </h1>
      <h1 class="font-mono">
        Hello world! er
      </h1>
      <h1 class="font-mono">
        Hello world! er
      </h1>
      <h1 class="font-mono">
        Hello world! er
      </h1>
      <h1 class="font-mono">
        Hello world! er
      </h1>
      <h1 class="font-mono">
        Hello world! er
      </h1>
      <h1 class="font-mono">
        Hello world! er
      </h1>
      <h1 class="font-mono">
        Hello world! er
      </h1>
    </div>
  </div>
</main>

<router-outlet></router-outlet>