<div class="container font-nunito text-lg sm:px-6 xl:px-40">
    <div class="flex flex-wrap justify-center xl:mb-10">
        <h2 class="text-center text-3xl pt-8 pb-3 text-gray-800 font-semibold">
            <svg class=" fill-gray-800 mr-3 h-7 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
              d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM169.8 165.3c7.9-22.3 29.1-37.3 52.8-37.3h58.3c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 264.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24V250.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1H222.6c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" />
          </svg>
          {{ title }}
        </h2>
    </div>
    <div class="flex flex-wrap justify-between">
        <div class="my-10 text-base md:text-lg md:leading-relaxed md:mb-8 xl:text-base">
            <p>На сьогоднішній день одним з найбільш надійних і ефективних методів діагностики інфекційних і
                паразитарних захворювань вихованців є дослідження за допомогою полімеразної ланцюгової реакції (ПЛР).
                Він дозволяє виявити ДНК або РНК збудника в біологічному матеріалі.</p>
            <p>Полімеразна ланцюгова реакція &ndash; метод молекулярної біології, спрямований на виявлення в зразку
                унікальної області гена, характерної тільки для цього живого організму. Під час реакції спостерігається
                збільшення невеликих концентрацій фрагментів ДНК або РНК, завдяки чому можна зареєструвати навіть
                незначний вміст, недоступний іншим методам діагностики (поріг чутливості сучасних тест-систем становить
                від 10 до 100 примірників ДНК).</p>
            <p>Так як метод ПЛР може визначити фактичну причину захворювання, то це надійний діагностичний засіб в
                практиці ветеринара.</p>
            <p>З різних видів ПЛР-діагностики ми використовуємо найбільш сучасну &ndash;ПЛР в режимі реального часу
                (Real Time), оскільки вона має ряд незаперечних переваг:</p>
                <table>
                    <tbody>
                    <tr>
                        <th>Параметри</th>
                        <th>Плр</th>
                        <th>ПЛР в реальному часі</th>
                    </tr>
                    <tr>
                        <td>Якісний аналіз</td>
                        <td>+</td>
                        <td>+</td>
                    </tr>
                    <tr>
                        <td>Кількісний аналіз</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Виявлення продуктів посилення</td>
                        <td>Після реакції:<br>
                            Електрофорез<br>
                            &ndash; виявлення флуоресценції
                        </td>
                        <td>Після кожного циклу.<br>
                            Стадія виявлення поєднується зі стадією посилення.
                        </td>
                    </tr>
                    <tr>
                        <td>Реєстрація та інтерпретація результатів</td>
                        <td>суб&rsquo;єктивна оцінка результатів</td>
                        <td>Автоматичне</td>
                    </tr>
                    <tr>
                        <td>Можливість одночасного дослідження декількох захворювань</td>
                        <td>можливо, але обмежено</td>
                        <td>Це можливо</td>
                    </tr>
                    <tr>
                        <td>Проблеми, які потрібно вирішити:
                            Діагностики
                            <br>
                            Експресія генів
                            <br>
                            &ndash; аналіз мутацій</td>
                        <td>&ndash; тільки аналіз якості<br>
                            &ndash; можливо, але обмежено<br>
                            &ndash; можливо, але обмежено
                        </td>
                        <td>&ndash; якісний і кількісний аналіз<br>
                            &ndash; можливо<br>
                            &ndash; можливо
                        </td>
                    </tr>
                    </tbody>
                </table>
            <br>
            <p>Метод ПЛР в режимі реального часу &ndash;це новітнє нововведення в технології ПЛР. У зв&rsquo;язку із
                закритою
                експлуатацією системи (від моменту тестування до дослідження до тих пір, поки не будуть відкриті
                результати проби з матеріалом) можливість перехресного забруднення зразка недоступна, що зводить
                отримання помилкових позитивних результатів до мінімуму. Швидкість цього методу дозволяє за 1-3 дні
                отримати відповідь про наявність або відсутність у тварини конкретного збудника, що значно прискорює
                диференціальну діагностику лікаря, а також можливість паралельного вивчення одного зразка при декількох
                захворюваннях.</p>
            <p>Сьогодні ПЛР в режимі реального часу є золотим стандартом при вивченні захворювань інфекційної етіології,
                адже він швидкий, надійний, безпечний.</p>
            <p>Ми знаємо, що носієм генетичної інформації в організмі є ДНК/РНК, яка є індивідуальною. Ця інформація
                кодується як генетичний код. За допомогою спеціальних маркерів – грунтовок ПЛР відрізняє збудника за
                характерною областю гена, а також при відбитках пальців порушник розраховується за відбитком пальця.Ця
                функція робить метод високоточним і специфічним.</p>
            <p>ПЛР &ldquo;В режимі реального часу&rdquo; універсальний &ndash;він дозволяє відокремити ДНК/РНК збудника
                практично
                від будь-якого біологічного матеріалу, при цьому потребуючи дуже невеликої кількості.</p>
            <p>Також хотілося б відзначити, що такий метод дозволяє визначити наявність збудника на субклінічній стадії,
                навіть, якщо він буде присутній в зразку в дуже малих кількостях.</p>
            <p>У яких випадках найактуальніше дослідження ПЛР в режимі реального часу?</p>
            <ol class="list-counter-circle">
                <li>Необхідність точного виявлення наявності вірусу, бактерій, паразитів в організмі тварини для
                    діагностики</li>
                <li>Хочете дізнатися, чи не є тварина безсимптомним носієм збудника і чи становить він загрозу для інших
                    тварин</li>
                <li>Клінічні прояви захворювання нескромні (розлади травлення, кашель, чхання)</li>
            </ol>
        </div>
    </div>
</div>