
.main-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    min-height: 100svh; /* Высота с учетом видимых панелей */
    // height: 90lvh;     /* Высота без видимых панелей */
    border-radius: 0 0 30px 30px;
    -moz-border-radius: 0 0 30px 30px;
    -webkit-border-radius: 0 0 30px 30px;
}

.arrow-down {
    margin-top: 10%;
    padding-left: 50%;
}
.arrow-down span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #337AB7;
    border-right: 5px solid #337AB7;
    transform: rotate(45deg);
    margin: -16px;
    animation: arrow-down 2s infinite;
}
.arrow-down span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-down span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow-down {
0%{
    opacity: 0;
    transform: rotate(45deg) translate(-20px,-20px);
    }
50%{
    opacity: 1;
    }
100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px,20px);
    }
}

@media screen and (max-width: 650px) {
    .gradient-button-green {
        font-size: 10px;
        padding: 10px 20px;
        letter-spacing: 1px;
        margin: 0 5% 0 0;
    }
    .gradient-button-blue {
        font-size: 10px;
        padding: 10px 20px;
        letter-spacing: 1px;
        margin: 0%;
    }
}

.certificate {
    background: rgb(128, 255, 211);
    background: linear-gradient(161deg, rgba(128, 255, 211, 1) 0%, rgba(198, 255, 128, 1) 100%);
    border-radius: 120px 0 0 120px;
    border: 0 solid #000000;
}

.certificate img {
    width: 70%;  /* Установка ширины изображений на 70% */
    aspect-ratio: 3/2;  /* Соотношение сторон изображений 3:2 */
    object-fit: contain;  /* Обеспечивает сохранение пропорций изображений */
}


.modal {
    display: none;
    position: fixed;
    z-index: 20;
    padding-top: 100px;
    margin-right: 15%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
  }

  .modal-content {
    margin-top: 5%;
    display: block;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 85%;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: auto;
    height: 70px;
  }

  .close {
    position: absolute;
    top: 12%;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}


@media screen and (min-width: 1024px) {
    .certificate img{
        cursor: pointer;
    }
 }

 @media screen and (min-width: 1924px) {
    .certificate{
        padding: 0 20% ;
    }
 }
 