
.main-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    min-height: 100svh;
    border-radius: 0 0 30px 30px;
    -moz-border-radius: 0 0 30px 30px;
    -webkit-border-radius: 0 0 30px 30px;
    background-color: aquamarine;
}

@media screen and (max-width: 650px) {
    .gradient-button-green {
        font-size: 10px;
        letter-spacing: 1px;
    }
    .gradient-button-blue {
        font-size: 10px;
        padding: 10px 20px;
        letter-spacing: 1px;
        margin: 0%;
    }
}

.certificate {
    background: rgb(128, 255, 211);
    background: linear-gradient(161deg, rgba(128, 255, 211, 1) 0%, rgba(198, 255, 128, 1) 100%);
    border-radius: 120px 0 0 120px;
    border: 0 solid #000000;
}

.certificate img {
    width: 100%;
    max-width: 18rem;
    aspect-ratio: 3/2;
    object-fit: contain;
    cursor: pointer;
}


@media screen and (min-width: 1024px) {
    .certificate img {
        max-width: 20rem;
    }
 }

 @media screen and (min-width: 1924px) {
    .certificate{
        padding: 0 20% ;
    }
 }
 
 .box {
    opacity: 0;
    transform: translateY(-30px); /* Начальная позиция выше */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .box.visible {
    opacity: 1;
    transform: translateY(0); /* Возвращаем в нормальную позицию */
  }


  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .brand {
    opacity: 0; /* Начальное состояние (скрыто) */
    animation: fadeInUp 0.7s ease-out forwards;
  }


  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .news {
    opacity: 0; /* Начальное состояние (скрыто) */
    animation: fadeInDown 0.7s ease-out forwards;
  }

  
