<div>
  <section class="main-image bg-center bg-no-repeat bg-main-image bg-blend-multiply sm:bg-cover">
    <div class="mx-auto max-w-screen-xl text-center pt-10 pb-0">
      <h2 class="brand mb-1 text-6xl font-nunito font-normal tracking-tight leading-none text-white md:text-7xl md:mt-4 lg:text-8xl ">
        <span class="text-custom_green">Green</span>Lab
      </h2>
      <p class="mx-3 mb-4 xl:mb-4 text-2xl font-thin font-nunito text-white">
        Універсальна ПЛР Лабораторія</p>
      <div class="home-buttons space-y-1 space-x-6 sm:flex-row sm:justify-center sm:space-y-0">
        <a routerLink="/guide"
          class="gradient-button-green inline-flex justify-center items-center py-2 px-5 text-center">
          Здати аналіз
        </a>
        <a href="../../../../assets/files/price2025greenlab.pdf" target="_blank"
          class="gradient-button-blue inline-flex justify-center items-center py-2 px-5 text-center">
          Прайс-лист
        </a>
      </div>
      <p class="price-info font-jost my-5 md:text-xl lg:text-base lg:my-2">Ціни вказані за станом на 01.03.25</p>
      <!-- <p class="price-info text-dark-red px-10 font-jost my-5 md:text-xl lg:text-lg lg:my-2">Звертаємо Вашу увагу, що з 01.11.24 очікується підвищення цін</p> -->
      <div class="block shadow-lg bg-gray-900 bg-opacity-10 rounded-2xl text-center font-jost p-1 mx-7 sm:mx-24 md:mx-52 md:mt-1 leading-1 text-base font-normal lg:mx-72 xl:mx-80">
        <p>Графік роботи:</p>
        <p>ПН-ПТ 10:00 - 18:00 (СБ до 15:00)</p>
        <!-- <p>Субота 10:00 - 15:00</p> -->
        <p>Видача результатів проводиться з 17:00 по 18:00 у робочі дні</p>
        <p>(Неділя - вихідний)</p>
        <!-- <p class="text-dark-red font-jost md:text-xl lg:text-base">Звертаємо Вашу увагу, що 21.04 лабораторія не працюватиме</p> -->
      </div>

      <div class="news font-nunito text-base px-6 lg:px-0 max-w-screen-lg mx-auto pb-2">
        <div class="relative px-6 pt-2 pb-6 bg-white rounded-3xl mt-6 lg:pb-2">
          <h2 class="text-center text-2xl text-gray-800 font-semibold">Останні новини</h2>
            <div class="flex flex-col lg:flex-row items-center lg:items-start">
            <div class="relative max-w-xs w-full bg-white border border-gray-300 rounded-lg shadow-xs lg:mr-6">
              <img class="rounded-t-lg w-full h-[60px] object-cover" src="../../../../assets/images/news/3816152.jpg" alt="Цистоізоспороз" />
              <!-- <span class="absolute top-0 right-0 bg-gray-800 bg-opacity-15 text-gray-900 text-xs font-medium px-2.5 py-0.5 rounded-full">22.03.2024</span> -->
              <div class="px-5 pb-3">
              <a routerLink="/news-page-1">
                <h5 class="mt-1 text-xl font-semibold tracking-tight text-gray-900">Цистоізоспороз</h5>
              </a>
              <p><span class="bg-light-green2 text-custom_green text-xs font-medium me-2 px-2.5 py-0.5 rounded-full">Вже в наявності</span></p>
              <p class="mb-3 text-gray-700 text-sm">Цистоізоспороз – це паразитарне захворювання, що викликається найпростішими – одноклітинними організмами, що належать до роду Cystoisospora.</p>
              <a routerLink="/news-page-1" class="inline-flex items-center px-3 py-2 text-xs font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-sky focus:outline-none focus:ring-blue-300 transition delay-50 duration-300">
                Читати більше
                <svg class="rtl:rotate-180 w-2.5 h-2.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="arrow-down">
        <span></span>
        <span></span>
        <span></span>
      </div> -->
    </div>
  </section>


  <!-- <div class="font-nunito text-base px-6 lg:px-0 max-w-screen-lg mx-auto" [class.visible]="isVisible">
    <div class="relative p-6 -mt-16 mb-5 bg-white rounded-3xl shadow-[20px_0_25px_-5px_rgba(0,0,0,0.10),-20px_0_25px_-5px_rgba(0,0,0,0.10)] drop-shadow-md xl:-mt-10">
      <h2 class="text-center text-3xl pt-3 pb-6 text-gray-800 font-semibold">Про нас</h2>
      <div class="flex flex-col md:flex-row items-center gap-6">
        <div class="w-full md:w-1/2 flex justify-center">
          <img class="w-full max-w-md md:max-w-full h-auto object-cover" src="../../../assets/images/main/about_us.png" alt="About us">
        </div>
        <div class="w-full md:w-1/2">
          <p class="indent-6 px-4">
            <b>Greenlab</b> &ndash; сучасна ПЛР-лабораторія для точної молекулярно-генетичної діагностики.  
            Своєчасна та точна діагностика – ключовий етап у виявленні та попередженні захворювань.  
            Кожен день перед фахівцями постає питання: «У чому причина захворювання?»  
            Саме тому ми створили сучасну ПЛР-лабораторію, оснащену високотехнологічним обладнанням та передовими методами аналізу.  
            Ми використовуємо технологію ПЛР у реальному часі (ПЛР-РЧ), яка забезпечує надзвичайну точність досліджень.  
            Якщо в біологічному матеріалі присутній навіть найдрібніший фрагмент вірусу або бактерії, ПЛР-РЧ ідентифікує його з максимальною точністю.
          </p>
        </div>
      </div>
    </div>
  </div> -->
  
  

  <!-- About us -->
  <div class="box font-nunito text-base px-6 lg:px-0 max-w-screen-lg mx-auto" [class.visible]="isVisible">
    <div class="py-6 mb-5">
      <h2 class="text-center text-3xl pt-3 pb-6 text-gray-800 font-semibold">Про нас</h2>
      <div class="flex flex-col md:flex-row items-center gap-6">
        <div class="w-full md:w-1/2 flex justify-center">
          <img class="w-full max-w-md md:max-w-full h-auto object-cover" src="../../../assets/images/main/about_us.png" alt="About us">
        </div>
        <div class="w-full md:w-1/2">
          <p class="indent-6 px-4">
            <b>Greenlab</b> &ndash; сучасна ПЛР-лабораторія для точної молекулярно-генетичної діагностики.  
            Своєчасна та точна діагностика – ключовий етап у виявленні та попередженні захворювань.  
            Кожен день перед фахівцями постає питання: «У чому причина захворювання?»  
            Саме тому ми створили сучасну ПЛР-лабораторію, оснащену високотехнологічним обладнанням та передовими методами аналізу.  
            Ми використовуємо технологію ПЛР у реальному часі (ПЛР-РЧ), яка забезпечує надзвичайну точність досліджень.  
            Якщо в біологічному матеріалі присутній навіть найдрібніший фрагмент вірусу або бактерії, ПЛР-РЧ ідентифікує його з максимальною точністю.
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <div class="certificate my-6 flex flex-col items-center ml-4 font-nunito lg:flex-row xl:px-52 2xl:px-64">
    <div class="m-4 text-center xl:text-left xl:w-1/3">
      <h2 class="text-xl font-semibold text-gray-800 py-5 lg:text-3xl text-center">Приклад результатів</h2>
      <div class="text-sm lg:text-xl xl:text-base text-center">
        Результати відправляємо на e-mail адресу, а також по пошті на вказаний в бланці адресу.
      </div>
    </div>
    <div class="flex flex-wrap justify-center items-center gap-8 xl:flex-nowrap lg:mt-5 lg:w-2/3 xl:h-64">
      <div class="flex flex-col items-center xl:h-40 xl:justify-center">
        <img id="myImg1" class="min-h-full transform transition-transform duration-300 hover:scale-105" 
             src="../../../assets/images/main/cert1.png" alt="Сертифікат №1" 
             (click)="openModal('../../../assets/images/main/cert1.png', 'Електронний — відправляємо на електронну адресу.')">
        <div class="text-sm lg:text-lg text-center mt-2 px-10 xl:px-0 italic xl:text-sm">
          Електронний — відправляємо на електронну адресу.
        </div>
      </div>
      <div class="flex flex-col items-center xl:h-40 xl:justify-center">
        <img id="myImg2" class="transform transition-transform duration-300 hover:scale-105"
             src="../../../assets/images/main/cert2.png" alt="Сертифікат №2" 
             (click)="openModal('../../../assets/images/main/cert2.png', 'Друкований (замовляється окремо) — з мокрою печаткою, англійською мовою, відправляється поштою.')">
        <div class="text-sm lg:text-lg text-center mt-2 px-10 xl:px-0 italic mb-3 xl:text-sm xl:text-center w-3/4">
          Друкований (замовляється окремо) — з мокрою печаткою, англійською мовою, відправляється поштою.
        </div>
      </div>
    </div>
  
    <div class="modal" (click)="closeModal()" [ngStyle]="{ display: modalOpen ? 'block' : 'none' }">
      <img class="modal-content" [src]="modalImageUrl" alt="Image">
      <div id="caption">{{ modalCaption }}</div>
    </div>
  </div>
  
  
  
  <hr>

  <!-- Contacts-->
  <div class="font-nunito text-base p-6 lg:px-0 max-w-screen-lg mx-auto">
    <h2 class="text-center text-3xl pt-1 pb-10 text-gray-800 font-semibold">
      <svg class=" fill-gray-800 mr-2 h-8 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
          d="M96 0C60.7 0 32 28.7 32 64V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H96zM208 288h64c44.2 0 80 35.8 80 80c0 8.8-7.2 16-16 16H144c-8.8 0-16-7.2-16-16c0-44.2 35.8-80 80-80zm-32-96a64 64 0 1 1 128 0 64 64 0 1 1 -128 0zM512 80c0-8.8-7.2-16-16-16s-16 7.2-16 16v64c0 8.8 7.2 16 16 16s16-7.2 16-16V80zM496 192c-8.8 0-16 7.2-16 16v64c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm16 144c0-8.8-7.2-16-16-16s-16 7.2-16 16v64c0 8.8 7.2 16 16 16s16-7.2 16-16V336z" />
      </svg>
      Контакти
    </h2>

      <div class="">
        <div class="flex flex-col md:flex-row place-content-between text-center">
          
          <div>
            <svg class="w-6 inline py-1 fill-sky" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path d="M172.3 501.7C27 291 0 269.4 0 192 0 86 86 0 192 0s192 86 192 192c0 77.4-27 99-172.3 309.7-9.5 13.8-29.9 13.8-39.5 0zM192 272c44.2 0 80-35.8 80-80s-35.8-80-80-80-80 35.8-80 80 35.8 80 80 80z" />
            </svg>
            <div class="topic font-bold mb-3">Адреса</div>
            <div>м.Чорноморськ</div>
            <div>вул.Олександрійська, 2</div>
          </div>

          <div>
            <svg class="w-6 inline py-1 fill-sky" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path d="M497.4 361.8l-112-48a24 24 0 0 0 -28 6.9l-49.6 60.6A370.7 370.7 0 0 1 130.6 204.1l60.6-49.6a23.9 23.9 0 0 0 6.9-28l-48-112A24.2 24.2 0 0 0 122.6 .6l-104 24A24 24 0 0 0 0 48c0 256.5 207.9 464 464 464a24 24 0 0 0 23.4-18.6l24-104a24.3 24.3 0 0 0 -14-27.6z" />
            </svg>
            <div class="topic font-bold mb-3">Телефон</div>
            <p><a href="tel:+380962986084">+38-096-298-60-84</a> (Логістика та сплата)</p>
            <p><a href="tel:+380966282700">+38-096-628-27-00 </a> (Адмін.питання)</p>
            <br />
            <div class="flex justify-center space-x-8 py-2">
              <a href="viber://chat?number=%2B380962986084" target="_blank">
                <img src="../../../assets/images/topbar/viber.ico" alt="viber"></a>
              <a href="https://t.me/+380935582302" target="_blank">
                <img src="../../../assets/images/topbar/telegram.ico" alt="telegram"></a>
            </div>
          </div>
          <div class="py-2">
            <svg class="w-6 inline fill-sky" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
            </svg>
            <div class="topic font-bold mb-3">E-mail</div>
            <div>green.laboratoriya&#64;gmail.com</div>
            <div>vetpcrlab&#64;gmail.com</div>
          </div>
        </div>
      </div>
      
  </div>
  <hr>

  <section class="font-nunito text-base px-6 lg:px-0 max-w-screen-lg mx-auto">
    <div class="grid py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 items-center justify-center">
      <div class="mr-auto place-self-center lg:col-span-7 font-nunito text-center">
        <h1 class="max-w-2xl mb-10 text-gray-800 text-3xl font-semibold tracking-tight leading-none text-center">
          <svg class="fill-gray-800 mr-1 h-7 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384v38.6C310.1 219.5 256 287.4 256 368c0 59.1 29.1 111.3 73.7 143.3c-3.2 .5-6.4 .7-9.7 .7H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128zM288 368a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm211.3-43.3c-6.2-6.2-16.4-6.2-22.6 0L416 385.4l-28.7-28.7c-6.2-6.2-16.4-6.2-22.6 0s-6.2 16.4 0 22.6l40 40c6.2 6.2 16.4 6.2 22.6 0l72-72c6.2-6.2 6.2-16.4 0-22.6z" />
          </svg>
          Дозвільні документи
        </h1>
        <p class="max-w-2xl mb-6 font-light text-gray-900 lg:mb-8 text-center">
          Лабораторія "Грін ПЛР Лаб" сертифікована за всіма критеріями відповідно до вимог та норм законодавства України. Усі аналізи виконуються виключно на приладах та устаткуванні, які пройшли метрологічну перевірку та відповідають усім вимогам та критеріям діагностичної лабораторії.
        </p>
        <a routerLink="/license" class="gradient-button-green">
          Переглянути документи
        </a>
      </div>
      <div class="lg:mt-0 lg:col-span-5 lg:flex mt-2 justify-center mx-auto px-20 flex-col items-center">
        <img src="../../../assets/images/main/doc_certificate.png" 
             class="w-40 cursor-pointer mx-auto transform transition-transform duration-300 hover:scale-105 hover:shadow-lg" 
             alt="Сертифікат №2" 
             (click)="openModal('../../../assets/images/main/doc_certificate.png', 'Сертифікат визнання вимірювальних можливостей')">
        <div class="font-nunito text-sm text-center md:text-lg mt-2 italic xl:text-sm">
          Сертифікат визнання вимірювальних можливостей
        </div>
      </div>
    </div>
  </section>
  
  
  <hr>
  <div>
    <app-map class="mx-0 min-h-72 w-full"></app-map>
  </div>
    
</div>
