<header class="topbar">
    <div class="container">
        <div class="w-full max-w-screen-xl mx-auto py-4 md:p-2">
            <div class="flex items-center justify-between min-h-full">
                <ul
                    class="flex flex-wrap font-raleway place-content-center mb-0 text-sm font-tiny text-white sm:space-x-6">
                    <li class="place-content-center">
                        <img class="float-left mr-2" src="../../../assets/images/topbar/address.ico" alt="address" />
                        <a class="hover:text-gray-300" href="https://maps.app.goo.gl/p5xPvoY4jPQRvJ8Q9"
                            target="_blank">м.Чорноморськ, вул.Олександрійська,  2</a>
                    </li>
                    <li>
                        <img class="float-left mr-2" src="../../../assets/images/topbar/phone.ico" alt="phone" />
                        <a class="hover:text-gray-300" href="tel:">+380962986084</a>
                    </li>
                    <li>
                        <img class="float-left mr-2" src="../../../assets/images/topbar/email.ico" alt="email" />
                        <a class="hover:text-gray-300"
                            href="mailto:green.laboratoriya@gmail.com">green.laboratoriya&#64;gmail.com</a>
                    </li>
                </ul>
                <ul class="topbar-socials hidden flex-wrap items-center space-x-3 mb-6 sm:mb-0 lg:flex">
                    <li>
                        <a href="viber://chat?number=%2B380962986084" target="_blank" rel="noreferrer"><img
                                src="../../../assets/images/topbar/viber.ico" alt="viber" /></a>
                    </li>
                    <li>
                        <a href="https://t.me/+380935582302" target="_blank" rel="noreferrer"><img
                                src="../../../assets/images/topbar/telegram.ico" alt="telegram" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>