<header class="navbar">
    <div class="container">
        <div class="topbar-contacts">
            <div class="topbar-address">
                <img src="../../../assets/images/topbar/address.png" alt="address" />
                <a href="https://maps.app.goo.gl/p5xPvoY4jPQRvJ8Q9" target="_blank">м.Чорноморськ, вул.Олександрійська, 2</a>
            </div>
            <!-- <div class="topbar-phone">
                <img src="/images/navbar/phone.png" alt="phone" />
                    <a href="tel:">+380962986084</a>
            </div>
            <div class="topbar-email">
                <img src="/images/navbar/email.png" alt="email" />
                    <a href="mailto:green.laboratoriya@gmail.com">green.laboratoriya@gmail.com</a>
            </div> -->
        </div>
        <div class="topbar-socials">
            <!-- <a href="viber://chat?number=%2B380962986084" target="_blank" rel="noreferrer"><img src="/images/navbar/viber.png" alt="viber" /><span></span></a>
            <a href="https://t.me/+380935582302" target="_blank" rel="noreferrer"><img src="/images/navbar/telegram.png" alt="telegram" /><span></span></a> -->
        </div>
    </div>
</header>