<div class="container font-nunito text-lg sm:px-6 xl:px-80">
    <div class="flex flex-wrap justify-center xl:mb-10">
        <h2 class="text-center text-3xl pt-8 pb-3 text-gray-800 font-semibold">
            <svg class=" fill-gray-800 mr-3 h-7 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
            <path
              d="M192 512C86 512 0 426 0 320C0 228.8 130.2 57.7 166.6 11.7C172.6 4.2 181.5 0 191.1 0h1.8c9.6 0 18.5 4.2 24.5 11.7C253.8 57.7 384 228.8 384 320c0 106-86 192-192 192zM96 336c0-8.8-7.2-16-16-16s-16 7.2-16 16c0 61.9 50.1 112 112 112c8.8 0 16-7.2 16-16s-7.2-16-16-16c-44.2 0-80-35.8-80-80z" />
          </svg>
          {{ title }}
        </h2>
    </div>
    <div class="flex flex-wrap justify-between">
        <div class="my-10 text-base md:text-lg md:leading-relaxed md:mb-8 xl:text-base">
            <p class="my-3"><strong>Кров з EDTA</strong></p>
            <p class="my-3"><strong>Витратний матеріал: </strong>стерильна одноразова голка, пробірка з EDTA</p>
            <p class="my-3">Порядок огорожі:</p>
            <ol class="list-counter-circle">
                <li>Ретельно обробити місце пропонованої венепункації спиртом розчином. Витріть насухо або зачекайте, поки спирт повністю висохне;</li>
                <li>збирати кров в пробірці з ЕДТА;</li>
                <li>позначити пробірку, вказавши вид тварини, ім&rsquo;я, ім&rsquo;я власника, при бажанні &ndash;
                    вид дослідження (див. <a routerLink="/marking" class="text-blue">Маркування проб</a>).</li>
            </ol>
            <p class="my-3">Умовами зберігання і транспортування зразка є: 2 &ndash; 8&deg;С</p>
            <p class="my-3">У вигляді тромбів неможливо випустити ДНК/РНК зі зразка.</p>
        </div>
    </div>
</div>