<div class="container ss:max-xl:bg-purple ss:max-xl:min-w-full font-nunito text-lg">
    <div class="flex flex-wrap justify-center ss:max-xl:min-w-full">
        <h2 class="text-center text-4xl pt-10 text-gray-800 font-semibold">
            <svg class=" fill-gray-800 mr-3 h-10 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M192 512C86 512 0 426 0 320C0 228.8 130.2 57.7 166.6 11.7C172.6 4.2 181.5 0 191.1 0h1.8c9.6 0 18.5 4.2 24.5 11.7C253.8 57.7 384 228.8 384 320c0 106-86 192-192 192zM96 336c0-8.8-7.2-16-16-16s-16 7.2-16 16c0 61.9 50.1 112 112 112c8.8 0 16-7.2 16-16s-7.2-16-16-16c-44.2 0-80-35.8-80-80z"/></svg>
            {{ title }}</h2>
    </div>
    <div class="flex flex-wrap justify-between ss:max-xl:min-w-0 ss:max-xl:bg-custom_green">
        <div class="my-8">
            <p><strong>Кров з EDTA</strong></p>
            <p><strong>Витратний матеріал: </strong>стерильна одноразова голка, пробірка з EDTA</p>
            <p>Порядок огорожі:</p>
            <ol class="list-counter-circle">
                <li>Ретельно обробити місце пропонованої венепункації спиртом розчином. Витріть насухо або зачекайте, поки спирт повністю висохне;</li>
                <li>збирати кров в пробірці з ЕДТА;</li>
                <li>позначити пробірку, вказавши вид тварини, ім&rsquo;я, ім&rsquo;я власника, при бажанні &ndash;
                    вид дослідження (див. Маркування проб).</li>
            </ol>
            <p>Умовами зберігання і транспортування зразка є: 2 &ndash; 8&deg;С</p>
            <p>У вигляді тромбів неможливо випустити ДНК/РНК зі зразка.</p>
        </div>
    </div>
</div>