ul {
    list-style: none;
    counter-reset: list;
    overflow: inherit;
}

ul li {
    // position: relative;
    line-height: 2rem;
    margin-left: 2rem;
    margin-bottom: .25rem;



}
ul>li:last-child {
    margin-bottom: 0;
}

p {
    margin: 10px 0;
}