<div class="slideshow-container w-full xl:w-1/2">
  <div *ngFor="let image of images; let i = index" #mySlides class="mySlides fade">
    <a [href]="image" class="w-full" target="_blank"><img [src]="image" alt="Image"></a>
  </div>

  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>
<br>
<div style="text-align:center">
  <span *ngFor="let image of images; let i = index" #dot class="dot" (click)="currentSlide(i + 1)"></span>
</div>
