<div class="slideshow-container w-full xl:w-1/2">
  <div *ngFor="let image of images; let i = index" #mySlides class="mySlides fade">
    <img
      [src]="image"
      class="slide-image cursor-pointer transform transition-transform duration-300 hover:scale-105 hover:shadow-lg"
      alt="Image"
      (click)="openImage(image)"
    >
  </div>

  <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
  <a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>
<br>
<div style="text-align:center">
  <span *ngFor="let image of images; let i = index" #dot class="dot" (click)="currentSlide(i + 1)"></span>
</div>
