p > b {
    text-decoration: underline;
}

a {
    color: #0000ff;
}

.gradient-button-green {
    color: black;
    background-image: linear-gradient(to right, #9EEFE1 0%, springgreen 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: 0.5s;
}

.gradient-button-green:hover {
    background-position: right center;
}