
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$greenlab-primary: mat.define-palette(mat.$indigo-palette);
$greenlab-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$greenlab-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$greenlab-theme: mat.define-light-theme((
  color: (
    primary: $greenlab-primary,
    accent: $greenlab-accent,
    warn: $greenlab-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($greenlab-theme);

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    height: 100%;
}

/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu, summary {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
    box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
    box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
    display: none;
}

hr {
    height: 4px;
    background: rgb(56,226,255);
    background: linear-gradient(90deg, rgba(56,226,255,1) 0%, rgba(116,218,241,1) 30%, #90fd72 72%, rgba(75,231,0,1) 100%);
    border: none;
}

.list-counter-circle {
    list-style: none;
    counter-reset: list;
    overflow: inherit;

}
.list-counter-circle li {
    position: relative;
    line-height: 2rem;
    margin-left: 1.75rem;
    margin-bottom: .25rem;
    padding-left: 1rem;
    padding-right: .5rem;
    border-radius: .25rem;


}
.list-counter-circle>li:last-child {
    margin-bottom: 0;
}
.list-counter-circle>li::before {
    content: counter(list);
    counter-increment: list;
    position: absolute;
    height: 2rem;
    left: -1.5rem;
    width: 2rem;
    line-height: 1.5rem;
    border-radius: 1.23rem;
    border: .25rem solid #fff;
    text-align: center;
    color: #fff;
    background: #7b1fa2;
}

/* Основные стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.875rem; /* Уменьшенный шрифт */
    margin: 1rem 0;
    margin-bottom: 20px;
    border: 5px solid #fff;
    border-top: 5px solid #fff;
    border-bottom: 3px solid #fff;
    border-collapse: collapse;
    outline: 3px solid #C1D8C3;
    background: #fff!important;
}

/* Стили для заголовков */
table th {
    padding: 0.5rem;
    background: #C1D8C3;
    font-size: 0.9rem;
    border: none;
    text-align: center;
    font-size: 1rem;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #C1D8C3;
}

/* Стили для ячеек */
table td {
    padding: 0.5rem;
    border: none;
    text-align: center;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    font-size: 0.875rem;
}

/* Чередование цвета строк */
table tbody tr:nth-child(even) {
    background: #ebedf7;
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 768px) {
    table {
        font-size: 0.75rem; /* Уменьшение шрифта на мобильных устройствах */
    }

    table th, table td {
        padding: 0.25rem; /* Уменьшение отступов */
    }

    table th {
        font-size: 0.85rem; /* Уменьшение шрифта в заголовках */
    }
}


// @import "../stylesheets/scss-file";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
