<div class="container font-nunito text-lg sm:px-6 xl:px-80 w-full">
    <div class="flex flex-wrap justify-center xl:mb-10">
        <h2 class="text-center text-3xl pt-8 pb-3 text-gray-800 font-semibold">
            <svg class=" fill-gray-800 mr-3 h-7 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
            <path
              d="M309.6 158.5L332.7 19.8C334.6 8.4 344.5 0 356.1 0c7.5 0 14.5 3.5 19 9.5L392 32h52.1c12.7 0 24.9 5.1 33.9 14.1L496 64h56c13.3 0 24 10.7 24 24v24c0 44.2-35.8 80-80 80H464 448 426.7l-5.1 30.5-112-64zM416 256.1L416 480c0 17.7-14.3 32-32 32H352c-17.7 0-32-14.3-32-32V364.8c-24 12.3-51.2 19.2-80 19.2s-56-6.9-80-19.2V480c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V249.8c-28.8-10.9-51.4-35.3-59.2-66.5L1 167.8c-4.3-17.1 6.1-34.5 23.3-38.8s34.5 6.1 38.8 23.3l3.9 15.5C70.5 182 83.3 192 98 192h30 16H303.8L416 256.1zM464 80a16 16 0 1 0 -32 0 16 16 0 1 0 32 0z" />
          </svg>
          {{ title }}
        </h2>
    </div>
    <div class="flex flex-wrap justify-center w-full">
        <div class="my-10 w-full">
            <p class="text-center">Термін виконання 2-3 дні</p>
            <table>
                <tbody>
                    <tr>
                        <th>ПЛР</th>
                        <th>Матеріал для дослідження</th>
                        <th>Вартість, грн*</th>
                    </tr>
                    <tr>
                        <td>Аденовірус 1 типу - вірусний гепатит<br> (Canine adenovirus type - 1)
                        </td>
                        <td>&bull; кров з ЕДТА<br>
                            &bull; зішкріб зі слизової прямої кишки
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Аденовірус 2 типу -
                            &laquo;розплідниковий кашель&raquo;<br>
                            (Canine adenovirus type - 2)
                        </td>
                        <td>&bull; змив з кон'юнктиви<br>
                            &bull; змив з носа
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Тромбоцитопенія собак<br> (Anaplasma platis)
                        </td>
                        <td>&bull; кров з ЕДТА</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Моноцитарний ерліхіоз<br>(Ehrlichia canis)
                        </td>
                        <td>&bull; кров з ЕДТА</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Бабезіоз<br>
                            (B. canis, B. rossi, B. vogeli)
                        </td>
                        <td>&bull; кров з ЕДТА</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Хвороба Лайма (бореліоз)<br>
                            ( Borrelia burgdorferi )
                        </td>
                        <td>&bull; кров з ЕДТА</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Бордетелльоз<br>
                            (Bordetella bronchiseptica)
                        </td>
                        <td>&bull; зішкріб зі слизової оболонки глотки<br>
                            &bull; змив з носа
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Дирофіляріоз - серцева форма<br> (Dirofilaria immitis)
                        </td>
                        <td>&bull; кров з ЕДТА</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Дирофіляріоз - підшкірна форма<br> (Dirofilaria repens)</td>
                        <td>&bull; кров з ЕДТА</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Коронавірусний ентерит<br>
                            (Canine coronavirus)
                        </td>
                        <td>&bull; зішкріб зі слизової прямої кишки</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Мікоплазмоз<br>
                            (Род Mycoplasma)
                        </td>
                        <td>&bull; змив з кон'юнктиви<br>
                            &bull; змив з носа<br>
                            &bull; синовіальна рідина, сперма
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Парвовірусна інфекція<br> (Canine parvovirus)
                        </td>
                        <td>&bull; зішкріб зі слизової прямої кишки</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Токсоплазмоз<br>
                            (Toxoplasma gondii)
                        </td>
                        <td>&bull; кров з ЕДТА<br>
                            &bull; змив з кон'юнктиви
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Хламідіоз<br>
                            (Род Chlamydophila )
                        </td>
                        <td>&bull; змив з кон'юнктиви<br>
                            &bull; зішкріб зі слизової урогенітального тракту / піхви<br>
                            &bull; синовіальна рідина
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Чума м'ясоїдних<br>
                            (Canine distemper virus)
                        </td>
                        <td>&bull; змив з кон'юнктиви<br>
                            &bull; зішкріб зі слизової носа<br>
                            &bull; зішкріб зі слизової прямої кишки<br>
                            &bull; кров з ЕДТА
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Бруцельоз<br>
                            (Brucella canis)
                        </td>
                        <td>&bull; кров з ЕДТА</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Герпесвірус<br>
                            (Canine Herpes virus)
                        </td>
                        <td>&bull; кров з ЕДТА
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Гепатозооноз<br>
                            (Hepatozoon canis)
                        </td>
                        <td>&bull; кров з ЕДТА
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Неоспороз<br>
                            (Neospora caninum)
                        </td>
                        <td>&bull; кров з ЕДТА
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Кампилобактеріоз<br>
                            ( Campylobacters spp. )
                        </td>
                        <td>&bull; зішкріб зі слизової прямої кишки
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Клебсіелльоз<br>
                            ( Klebsiella pneumoniae )
                        </td>
                        <td>&bull; зішкріб зі слизової прямої кишки
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Клостридіоз<br>
                            ( Clostridium difficile )
                        </td>
                        <td>&bull; зішкріб зі слизової прямої кишки
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Криптоспоридіоз<br>
                            ( Cryptosporidium spp. )
                        </td>
                        <td>&bull; зішкріб зі слизової прямої кишки
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Лептоспіроз<br>
                            ( Leptospira spp. )
                        </td>
                        <td>&bull; кров з ЕДТА
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Лістеріоз<br>
                            ( Listeria monocytogenes )
                        </td>
                        <td>&bull; зішкріб зі слизової прямої кишки
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Лямбліоз<br>
                            ( Giardia lamblia )
                        </td>
                        <td>&bull; зішкріб зі слизової прямої кишки
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Пастерелльоз<br>
                            ( Pasteurella multocida )
                        </td>
                        <td>&bull; зішкріб зі слизової прямої кишки
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Ротавірусна інфекція<br> ( Rotavirosis infectiosa )</td>
                        <td>&bull; зішкріб зі слизової прямої кишки</td>
                        <td>500</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>